$white: #ffffff;
$black: #121212;
$primary: #181818;
$primary-bg: #1f2a4e;
$secondary: #ff562f;
$secondary-font: 'RF Dewi Expanded', 'Montserrat', sans-serif;
$tertiary-font: 'RF Dewi Extended', 'Montserrat', sans-serif;

/* breakpoints */
$lg: 1439.5px;
$md: 1023.5px;
$sm: 599.5px;
$xs: 359.5px;
