.advertising {
  margin-top: 140px;

  &__title {
    font-family: $secondary-font;
    font-weight: 800;
    font-size: 70px;
    line-height: 1;
    color: #4f4f4f;
    margin-bottom: 30px;
  }

  &__caption {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    color: #898f99;
  }

  &__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 33px;
  }

  &__item {
    color: #000;
    padding: 45px 50px 45px 40px;
    background-color: #d4deef;
    border-radius: 24px;

    &:nth-child(2n) {
      color: #f9f9f9;
      background-color: #3d3d3d;
    }
  }

  &__icon {
    width: 100px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  &__name {
    font-weight: 600;
    font-size: 28px;
    margin-block: 30px;
  }

  &__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    opacity: 0.65;
  }
}

@media (max-width: 1650px) {
  .advertising {
    margin-top: 80px;

    &__title {
      font-size: 50px;
    }

    &__caption {
      font-size: 24px;
    }

    &__list {
      margin-top: 40px;
      gap: 24px;
    }

    &__item {
      padding: 28px 40px 45px 25px;
      border-radius: 12px;
    }

    &__icon {
      width: 65px;
    }

    &__name {
      font-size: 20px;
      margin-block: 25px 10px;
    }

    &__desc {
      font-size: 13px;
    }
  }
}

@media (max-width: 560px) {
  .advertising {
    margin-top: 50px;

    &__title {
      font-size: 34px;
      line-height: 0.89;
      margin-bottom: 20px;
    }

    &__caption {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.17;
      color: #d6d6d6;
    }

    &__list {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 18px 13px;
    }

    &__item {
      color: #282828;
      padding: 16px 13px;
      border-radius: 12px;

      &:nth-child(3) {
        order: 4;
      }
    }

    &__icon {
      width: 45px;
    }

    &__name {
      font-size: 16px;
      margin-block: 6px 8px;

      > span {
        display: none;
      }
    }

    &__desc {
      font-weight: 300;
      font-size: 12px;
      line-height: 1.1;
      opacity: 1;
    }
  }
}
