.clients {
  margin-top: 140px;

  &__title {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 52px;
    color: #4f4f4f;
    margin-bottom: 65px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 33px 0;
  }

  &__item {
    border-radius: 26px;
    display: flex;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #d4deef;

      .clients__img {
        filter: none;
      }
    }
  }

  &__img {
    width: 314px;
    height: 208px;
    margin: auto;
    filter: grayscale(1) brightness(1.5);
    transition: 0.3s ease;
  }
}

@media (max-width: 1650px) {
  .clients {
    margin-top: 80px;

    &__title {
      font-size: 38px;
      margin-bottom: 45px;
    }

    &__list {
      gap: 23px 0;
    }

    &__img {
      width: 223px;
      height: 148px;
    }
  }
}

@media (max-width: 560px) {
  .clients {
    margin-top: 90px;

    &__title {
      font-weight: 900;
      font-size: 32px;
      line-height: 1;
      margin-bottom: 25px;
    }

    &__list {
      display: flex;
      background-color: #282828;
    }

    &__item {
      width: max-content;
    }

    &__img {
      width: 194px;
      height: 180px;
      object-fit: contain;
    }

    .slick-dots {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 19px;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%);
    }

    .slick-dots li {
      width: 100%;
      max-width: 93px;
      height: auto;
      margin: 0;
    }

    .slick-dots li button {
      width: 100%;
      height: 3px;
      padding: 0;
      background-color: #fff;
      opacity: 0.4;
    }

    .slick-dots li.slick-active button {
      opacity: 1;
    }
  }
}
