.footer {
  padding-block: 52px;
  margin-top: 100px;
  background-color: #242526;

  .wrapper {
    display: grid;
    grid-template-columns: 456px 1fr;
    gap: 45px 130px;
  }

  &__logo {
    width: 456px;
    height: 71px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.41;
    color: #a4a6a9;
    opacity: 0.8;
    display: flex;
    flex-direction: column;

    > a {
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #d6d6d6;
      margin-bottom: 11px;
    }
  }

  &__menu-list {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
    display: flex;
    gap: 52px;
  }

  &__menu-caption {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    color: #d6d6d6;
    margin-bottom: 23px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 18px;
    color: #797979;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 13px;

    &--email {
      color: #a4a6a9;
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &__social {
    display: none;
  }
}

@media (max-width: 1650px) {
  .footer {
    padding-block: 35px 100px;
    margin-top: 35px;

    .wrapper {
      display: grid;
      grid-template-columns: 322px 1fr;
      gap: 32px 95px;
    }

    &__logo {
      width: 322px;
      height: 50px;
    }

    &__privacy {
      font-size: 10px;

      > a {
        margin-bottom: 8px;
      }
    }

    &__menu-list {
      gap: 50px;
    }

    &__menu-caption {
      font-size: 13px;
      margin-bottom: 15px;
    }

    &__menu {
      gap: 8px;
    }

    &__link {
      font-size: 13px;
      gap: 8px;
    }
  }
}

@media (max-width: 560px) {
  .footer {
    padding-block: 40px 45px;
    margin-top: 45px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__logo {
      width: 263px;
      height: 41px;
      margin-bottom: 40px;
    }

    &__social {
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    &__social-list {
      margin-left: auto;
      display: flex;
      gap: 25px;
    }

    &__menu-list {
      display: none;
    }

    &__link {
      max-width: 43px;
      max-height: 40px;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &--email {
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
